<ion-header>
  <ion-toolbar>
    <ion-title>Livros lidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Livros lidos:</ion-label>
          <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Quando:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>

      <div>
          <p></p>
           <ion-button color="success" expand="block" (click)="exibirAlerta()">Página inicial</ion-button>
         </div>
</ion-content>
