<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true">

  <ion-item>
    <ion-label position="floating">Email:</ion-label>
      <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
      <ion-input type="email"></ion-input>
  </ion-item>

  <div>
      <p></p>
      <ion-button color="success" (click)="paginaAgenda()">Entrar</ion-button>
  </div>

  <div>
      <p></p>
      <ion-button color="success" (click)="paginaCadastro()">Cadastrar-se</ion-button>
    </div>
</ion-content>
